* {
  margin: 0;
}
body {
  overflow-x: hidden;
  canvas#canvas {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
  }
  div.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 500px;
    outline: solid;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    > * {
      margin: 10px;
    }
    div.header {
      display: flex;
      font-size: 2em;
      justify-content: center;
    }
    div.toggle {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 25px;
      height: 25px;
      background: black;
    }
    div.properties {
      margin: 10px;
      font-size: 1.1em;
    }
  }
  div.settings {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    min-height: 500px;
    outline: solid;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1;
    > * {
      margin: 10px;
    }
    div.header,
    div.startreset {
      display: flex;
      font-size: 2em;
      justify-content: center;
      > button {
        margin: 10px;
        padding: 10px;
        font-size: 1.1rem;
      }
    }
    div.controlBox {
      display: flex;
      flex-direction: column;
      > * {
        margin: 5px;
      }
      div.gamerules > div {
        display: flex;
        > * {
          padding: 5px;
        }
      }
      div.gamerules h4 {
        text-align: center;
      }
    }
    div.evolutionparameters {
      h4 {
        text-align: center;
      }
      > div {
        display: flex;
        > * {
          margin: 5px;
        }
        input[type="number"] {
          width: 50px;
        }
      }
    }
  }
  canvas#creatureTimeDiagram {
    position: absolute;
    top: 100vh;
  }
}
